[mysqld]
# Options for mysqld process:
ndbcluster                      # run NDB storage engine
bind-address = 192.168.16.74    # Listen address

[mysql_cluster]
# Options for NDB Cluster processes:
ndb-connectstring=192.168.16.73  # location of management server
